<div class="section section-buttons">
    <div class="container">
        <!--
        <div class="tim-title" style="align-items: center; ">
            <h2>Productos</h2>
        </div>
-->
        <div class="nav-tabs-navigation">

            <div class="nav-tabs-wrapper">
                
                <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round" >
                    <i class="nc-icon nc-cart-simple"> Carrito </i>
                </a>
                
                

                <style>
                    .nc-icon{
                        font-size:200%;
                    }
                </style>
<br><br>
                <ngb-tabset [justify]="'center'">
                   
                    <ngb-tab title="Todos los productos">
                        <ng-template ngbTabContent>
                            <div id="buttons">
                                <div class="tim-title">
                                    <h3>Nuevos productos!
                                        <blockquote class="blockquote">
                                            <div class="active item"
                                                style="align-items: center; flex-direction: row; position: relative; width: 112%;">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                                            <a href="product_detail.html" class="title">Mochila Arhuaca
                                                                Kutia</a><br />
                                                            
                                                            <p class="price">$17.25</p>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                                            <a href="product_detail.html" class="title">Mochila Arhuaca
                                                                Kutia</a><br />
                                                            
                                                            <p class="price">$17.25</p>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                                            <a href="product_detail.html" class="title">Mochila Arhuaca
                                                                Kutia</a><br />
                                                            
                                                            <p class="price">$17.25</p>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                                            <a href="product_detail.html" class="title">Mochila Arhuaca
                                                                Kutia</a><br />
                                                            
                                                            <p class="price">$17.25</p>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                                            <a href="product_detail.html" class="title">Mochila Arhuaca
                                                                Kutia</a><br />
                                                            
                                                            <p class="price">$17.25</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <footer class="blockquote-footer">Productos 100% artesanales <cite
                                                    title="source Title">Colombianos</cite></footer>
                                        </blockquote>
                                    </h3>
                                </div>
                            </div>

                            <div class="active item"
                                style="align-items: center; flex-direction: row; position: relative; width: 105.5%;">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><img src="assets/img/mochila1.PNG" alt="" /></p>
                                            <a href="product_detail.html" class="title">Mochila Arhuaca Kutia</a><br />
                                            <a href="products.html" class="category">Commodo consequat</a>
                                            <p class="price">$17.25</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Quis nostrud exerci
                                                tation</a><br />
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$32.50</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Know exactly turned</a><br />
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$14.20</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Manillas">
                        <ng-template ngbTabContent>
                            <p>Manillas y/o brazaletes disponibles.</p>
                            <div class="active item"
                                style="align-items: center; flex-direction: row; position: relative; width: 105.5%;">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Mochilas">
                        <ng-template ngbTabContent>
                            <p>Mochilas disponibles.</p>
                            <div class="active item"
                                style="align-items: center; flex-direction: row; position: relative; width: 105.5%;">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Sombreros">
                        <ng-template ngbTabContent>
                            <p>Sombreros disponibles.</p>
                            <div class="active item"
                                style="align-items: center; flex-direction: row; position: relative; width: 105.5%;">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="assets/img/mochila1.PNG"
                                                        alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br />
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

    </div>
</div>