<div class="wrapper">
    <div class="page-header section-dark" style=" background-image: url('assets/img/artesanias.jpg')">

        

        <div class="filter"></div>
        <div class="content-center">
            
            <div class="container" >
                <div class="title-brand">
                    <div class="angular-logo">
                        <!-- Logo -->
                        <img class="angular-logoo" src="assets/img/Logo.png" alt="">
                        <style>

                            .angular-logoo{
                                width: 145%; height: 130%;
                                  
                            }
                        </style>
                    </div>
                    <h1 class="presentation-title">Cachin</h1>
                    <div class="fog-low">
                    </div>
                    <div class="fog-low right">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Artesanias y articulos tipicos colombianos</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>


    <app-basicelements></app-basicelements>

    <div class="main">

        <div class="section"  >
            <div class="container text-center">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Gracias por visitarnos!</h3>
                        <p>Si requiere informacion adicional, o necesita ayuda puede comunicarse con nosotros. :)</p>
                        <h6>Cel: 300 507 1000</h6>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Tweet!">
                             Contacto
                        </a>
                        <a href="#" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Share!">
                             Envios
                        </a>
                        <a href="#" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Share!">
                            Cambios y garantias
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
