<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
        <div class="Datos" style="position: absolute; float: left; cursor: pointer;">


            <h3>
                Bienvenido.
            </h3>




            <style>
                .Datos {
                    flex-direction: row;
                    position: relative;
                    color: white;
                    background-color: rgba(245, 222, 179, 0.582);
                    border-radius: 15px;
                    height: 20px;
                    float: left;
                    cursor: pointer;

                }
            </style>


        </div>
        <!--
        <div class="Datos">
            <h3 style="cursor: pointer;">
                | Lista de deseos
            </h3>
            
            <style>
                .Datos{
                    flex-direction: row;
                    position: relative;
                    color: white;
                    background-color: rgba(245, 222, 179, 0.582);
                    border-radius: 15px;
                    height: 20px;
                    cursor: pointer;

                }
            </style>
    
            
        </div>
        <div class="Datos">
            <h3>
                | Direcciones
            </h3>
            
            <style>
                .Datos{
                    flex-direction: row;
                    position: relative;
                    color: white;
                    background-color: rgba(245, 222, 179, 0.582);
                    border-radius: 15px;
                    height: 20px;
                    cursor: pointer;

                }
            </style>
    
            
        </div>
        
        <div class="Datos">
            <h3>
                | Mis pedidos
            </h3>
            
            <style>
                .Datos{
                    flex-direction: row;
                    position: relative;
                    color: white;
                    background-color: rgba(245, 222, 179, 0.582);
                    border-radius: 15px;
                    height: 20px;
                    cursor: pointer;

                }
            </style>
    
            
        </div>
-->
    </div>

    <div class="section profile-content">

        <div class="container">

            <div class="owner">

                <div class="avatar">
                    <img src="./assets/img/casa2.JPG" alt="Circle Image" class="img-circle img-responsive">
                </div>

                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="Datos personales">
                                <ng-template ngbTabContent>
                                    <p>Mis datos personales</p>


                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 mr-auto ml-auto">
                                                <form class="contact-form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Nombres</label>
                                                            <div class="input-group"
                                                                [ngClass]="{'input-group-focus':focus===true}">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="nc-icon nc-single-02"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Nombre" (focus)="focus=true"
                                                                    (blur)="focus=false">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Apellidos</label>
                                                            <div class="input-group"
                                                                [ngClass]="{'input-group-focus':focus===true}">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="nc-icon nc-single-02"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Apellidos" (focus)="focus=true"
                                                                    (blur)="focus=false">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Cedula</label>
                                                            <div class="input-group"
                                                                [ngClass]="{'input-group-focus':focus===true}">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                            class="nc-icon nc-single-02"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Cedula" (focus)="focus=true"
                                                                    (blur)="focus=false">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Correo</label>
                                                            <div class="input-group"
                                                                [ngClass]="{'input-group-focus':focus1===true}">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> <i
                                                                            class="nc-icon nc-email-85"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Correo" (focus)="focus1=true"
                                                                    (blur)="focus1=false">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Contraseña</label>
                                                            <div class="input-group"
                                                                [ngClass]="{'input-group-focus':focus1===true}">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> <i
                                                                            class="nc-icon nc-key-25"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Contraseña" (focus)="focus1=true"
                                                                    (blur)="focus1=false">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-outline-default btn-round"><i
                                                            class="nc-icon nc-check-2"></i> Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Lista de deseos">
                                <ng-template ngbTabContent>

                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/Bolso.JPG" alt="Circle Image"
                                                                class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Mochila<br /><small>200k</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr />
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/Mochila.JPG" alt="Circle Image"
                                                                class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Bolso<br /><small>150k</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button class="btn btn-outline-default btn-round"><i
                                                    class="nc-icon nc-check-2"></i> Comprar</button>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Mis direcciones">
                                <ng-template ngbTabContent>
                                    <p>Direcciones guardadas.</p>

                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li>
                                                    <div class="roww"
                                                        style=" align-items: center; display: flex;justify-content: center;  ">

                                                        <div class="col-md-7 col-sm-4 ml-auto"
                                                            style="text-align: center; ">
                                                            <h6>Dir1<br /><small>Calle18#33-34 valledupar/cesar
                                                                    200001</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">

                                                            </div>

                                                        </div>
                                                        <button class="btn btn-outline-default btn-round"><i
                                                                class="nc-icon nc-refresh-69"></i> Editar</button>
                                                        <button class="btn btn-outline-default btn-round"><i
                                                                class="nc-icon nc-simple-remove"></i> Eliminar</button>
                                                    </div>

                                                </li>
                                                <hr />
                                                <li>
                                                    <div class="roww"
                                                        style=" align-items: center; display: flex;justify-content: center;  ">

                                                        <div class="col-md-7 col-sm-4 ml-auto"
                                                            style="text-align: center; ">
                                                            <h6>Dir2<br /><small>Calle18#33-34 valledupar/cesar
                                                                    200001</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <div class="form-check">

                                                            </div>

                                                        </div>
                                                        <button class="btn btn-outline-default btn-round"><i
                                                                class="nc-icon nc-refresh-69"></i> Editar</button>
                                                        <button class="btn btn-outline-default btn-round"><i
                                                                class="nc-icon nc-simple-remove"></i> Eliminar</button>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Mis pedidos">
                                <ng-template ngbTabContent>

                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/Bolso.JPG" alt="Circle Image"
                                                                class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Mochila<br /><small>200k</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <button class="btn btn-outline-default btn-round"><i
                                                                    class="nc-icon nc-glasses-2"></i> Ver</button>
                                                        </div>

                                                    </div>
                                                </li>
                                                <hr />
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/Mochila.JPG" alt="Circle Image"
                                                                class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Bolso<br /><small>150k</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <button class="btn btn-outline-default btn-round"><i
                                                                    class="nc-icon nc-glasses-2"></i> Ver</button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>